page-whale {
   
    .bg{background-color: #c9d6df;
    }

    .bg{
        background: linear-gradient(to bottom, #7393a7 10%, #e8ecf1 100%);
    }

    // .bg-image{
    //     background-image: url('../../assets/img/895f15160635.jpg');
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     background-size: contain;
    //     background-size: cover;
    // }

    .whaleinthai{
        padding-top: 0%;
        text-align: center;
        font-size: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .font{
        font-family: 'Kanit', sans-serif;
    }



}
