<!--
  Generated template for the WhalePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="bg  font">

<ion-header>
  <ion-navbar color="whaleinthai">
    <ion-title>Whale In Thailand</ion-title>
  </ion-navbar>
</ion-header>

  <ion-slides pager="true" effect="flip" >
  <ion-slide *ngFor="let slide of slider">
    <img [src]="slide.image" />
    <h2 [innerHTML]="slide.title"></h2>
    <h2 [innerHTML]="slide.title2"></h2>
    <h4 [innerHTML]="slide.description"></h4>
  </ion-slide>
  </ion-slides>

</ion-content>


