page-about {
    .background-home {
        background: #1a0a3a;
        color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    ion-content{
        background: url('https://i.imgur.com/olLunTc.jpg')no-repeat fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    
    .model-circleheat
    {
        background-color: #ff3e62; 
        height:60px;
        border-radius: 50%;
        right: 2%;
    }

    .model-circleice
    {
        background-color:#00ccff; 
        height:60px;
        border-radius: 50%;
        right: 2%;
    }

    .model-circle
    {
        height:60px;
        border-radius: 50%;
        right: 2%;
    }

    .model-circlegraph
    {
       
        height:60px;
        border-radius: 50%;
        right: 2%;
        box-shadow:
        0 0 60px 2px #998ead;  /* inner white */
        background-color: #998ead;
  
    }

    .manu-top
    {
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 28%; 
    }
    
      
}