<!--
  Generated template for the AssignmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="whaleinthai">
    <ion-title>Assignment</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-image font">

    <br/><br/><br/><br/><br/><br/><br/><br/>
    

    <div class="posiall">
        <button ion-button (click)="homepage()" color="light" default="true" outline="true" class="center jello" round>
        <ion-icon color="light" ></ion-icon>
            Home
          </button>
        </div>

        <br/>
   
      <div class="posiall">
          <button ion-button (click)="aboutpage()" color="light" default="true" outline="true" class="center jello" round>
          <ion-icon color="light" ></ion-icon>
              About
            </button>
          </div>
          
          <br/>

      <div class="posiall">
      <button ion-button (click)="contactpage()" color="light" default="true" outline="true" class="center jello" round>
      <ion-icon color="light" ></ion-icon>
          Contact
        </button>
      </div>
      
      
</ion-content>
