page-assignment {

    .bg-image{
        background-image: url('../../assets/img/895f15160635.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: cover;
    }

    .full{
        background-color:#c9d6df;
        padding: 10px 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 110%;
        font-family: "Prompt", Times, serif;

    }
   
    .topic{
        padding-top: 10%;
        text-align: center;
        font-size: 150%;
        margin-left: auto;
        margin-right: auto;
    }

    .font{
        font-family: 'Kanit', sans-serif;
    }

    .center{
        margin-left: auto;
        margin-right: auto;
        display: block !important;
        animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    .posiall{
        padding-top: 1%;
    }

}
