page-contact {

    
    .bg{background-color: #c9d6df;
    }

    .bg{
        background: linear-gradient(to bottom, #52616b 10%, #c9d6df 100%);
    }

    .font{
        font-family: 'Kanit', sans-serif;
    }
}
