<ion-header>
    <ion-navbar color="whaleinthai">
      <ion-title>API Google</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding class="bg font">
    <ion-slides pager="true" effect="flip">
        <ion-slide class="slide" *ngFor="let item of items | async"> 
          <img class="imgapi" [src]="'data:image/png;base64,' + item.imageData"/>
    
          <ion-list no-lines class="menu-home-close">
          <ion-list-header style="font-size:16px">Labels</ion-list-header>
            <label *ngFor="let label of item.results[0].textAnnotations">{{label.description}}</label>
          </ion-list>
        </ion-slide>
      </ion-slides>

  <ion-fab bottom right>
  <button ion-fab (click)="takePhoto()">
  <img class="topic1" src= "./assets/img/camera.svg" width="300px" height="250">
  </button>
  </ion-fab>

 </ion-content>