<ion-header>
  <ion-navbar color="whaleinthai">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-home">
  <span ion-fixed style="height: 100%; width: 100%;padding-left:15px ">
  <!-- Header -->
  <br>
  <h1>Select Climate</h1>
  <p></p>
  <h1>Settings</h1>
  <p></p>
  <h5 style="color: #998ead">Favorite Presets</h5>
  <!-- Slide -->
  
  <ion-slides slidesPerView="2.5" spaceBetween="10px" style="height: 30%">
    <ion-slide>
      <div class="menu-home-active">
      <img src="../../assets/imgs/sun.svg" style="width:50%; height:50%">
      <br>
      <span>Heat</span>
      <br>
      <span style="font-size:150%;">10 ํ - 19 ํ</span>
      </div>
    </ion-slide>
    
    <ion-slide>
      <div class="menu-home-close">
      <img src="../../assets/imgs/snowflake.svg" style="width:50%; height:50%">
      <br>
      <span style="color:#6285c6">Cool</span>
      <br>
      <span style="font-size:150%;">3 ํ - 7 ํ</span>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="menu-home-close">
        <img src="../../assets/imgs/wind.svg" style="width:50%; height:50%">
        <br>
        <span style="color:#b381ff">Wet</span>
        <br>
        <span style="font-size:150%;">7 ํ - 10 ํ</span>
        </div>
    </ion-slide>

    <ion-slide>
      <div class="menu-home-close">
        <img src="../../assets/imgs/dry2.svg" style="width:50%; height:50%">
        <br>
        <span style="color:#6285c6">Dry</span>
        <br>
        <span style="font-size:150%;">9 ํ - 14 ํ</span>
        </div>
    </ion-slide>
    
      
</ion-slides>

<div style="text-align: center;">
        <br>
        <br>
        <span style="font-size:120px;">19</span>
        <span style="font-size:28px;">temp</span>
      </div>

  
  <!-- Wave Footer -->
  <div class="wave"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  
  </span>

  </ion-content>

  <ion-tabs color="violet">
 
  
  