<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding class="bg-image font">


<h2 class="topic"> W H A L E </h2>
<img class="topic1" src= "./assets/img/whalee2.svg" width="300px" height="250" >
<!-- <button ion-button ="full"(click)="second()">Whale</button>
<br/>
  <button ion-button ="full">Assignment</button>
<br/>   -->
  
<br/><br/><br/><br/><br/><br/><br/>

  <button ion-button  (click)="second()" color="see" class="center jello" round>
    <ion-icon color="light" ></ion-icon>
    Whale In Thailand
  </button>



<div class="posiall">
<button ion-button  (click)=" API()" color="see" class="center jello" round>
        <ion-icon color="light" ></ion-icon>
        API Google
      </button>
</div>
      
<div class="posiall">

  <button ion-button  (click)="assign()" color="see" class="center jello" round>
      <ion-icon color="light" ></ion-icon>
      Assignment
    </button>
  </div>
  


</ion-content>
